@font-face{
	font-family: Aventir Heavy;
	font-display: swap;
	src: url("../fonts/Aventir Heavy.woff2") format("woff2"), url("../fonts/Aventir Heavy.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Circular;
	font-display: swap;
	src: url("../fonts/Circular-std-medium-500.woff2") format("woff2"), url("../fonts/Circular-std-medium-500.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: SofiaProExtraLight;
	font-display: swap;
	src: url("../fonts/SofiaProExtraLight.woff2") format("woff2"), url("../fonts/SofiaProExtraLight.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: SofiaProLight;
	font-display: swap;
	src: url("../fonts/SofiaProLight.woff2") format("woff2"), url("../fonts/SofiaProLight.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: SofiaProRegular;
	font-display: swap;
	src: url("../fonts/SofiaProRegular.woff2") format("woff2"), url("../fonts/SofiaProRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: SofiaProUltraLight;
	font-display: swap;
	src: url("../fonts/SofiaProUltraLight.woff2") format("woff2"), url("../fonts/SofiaProUltraLight.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
